<style>
    body {
      font-family: Arial, sans-serif;
      background-color: #F5F5F5;
    }
    .container {
      width: 400px;
      margin: 0 auto;
      padding-top: 100px;
      text-align: center;
    }
    h1 {
      color: #333;
    }
    button {
      font-size: 16px;
      background-color: rgb(79, 175, 79);
      color: #FFF;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      margin-top: 20px;
      cursor: pointer;
    }
    button:hover {
      background-color: rgb(79, 175, 79);
    }
    .btn {
      font-size: 16px;
      background-color: rgb(79, 175, 79);
      color: #FFF;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      margin-top: 20px;
      cursor: pointer;
      text-decoration: none;
    }

</style>

<div class="container">

  <h2>REGISTER</h2>

  <a class = 'btn' href="{% url 'c_pengguna:register-atlet' %}">ATLET</a>

  <a class = 'btn' href="{% url 'c_pengguna:register-coach' %}">PELATIH</a>

  <a class = 'btn' href="{% url 'c_pengguna:register-umpire' %}">UMPIRE</a>

</div>